body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 200px;
  background: linear-gradient(147.52deg, #F9FAFB 8.89%, #D2D6DB 100.48%);
}

.ctn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  height: 233px;
  width: 340px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

  padding: 23.5px 23px;
}

/* --- Row and Col --- */

.row {
  display: flex;
  align-items: center;
  gap: 16px;

  height: 49px;
}

.row .col:first-child {
  display: inline-flex;
}

.row .col:last-child {
  overflow: hidden;
}

/* --- Profile img, name, name tag --- */

.profile-img {
  height: 48px;
  width: 48px;
  border-radius: 48px;
  background-color: #E6E6E6;
}

.name-ctn {
  display: flex;
}

.name {
  font-weight: 600;
  font-size: 18px;
  color: #171717;
  line-height: 28px;
  height: 28px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name-tag-ctn {
  padding-top: 1px;
}

.name-tag {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.wording-ctn {
  margin-top: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 120px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.wording {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

/* --- Credits --- */

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  gap: 8px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
